<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="conn"  connectionString="Server=380ca561-e7c8-4e66-b462-a4d800b37ad3.sqlserver.sequelizer.com;Database=db380ca561e7c84e66b462a4d800b37ad3;User ID=zszpjlhudtsqovoa;Password=mySqet3BwiqyTSfBPhKV2ee2MSgToH47xtPURr7JYBoom2dyPp8AoVhgtYLtnioV;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
